<template>
  <div>
    <button @click="copy">Copy!</button>
    <div @click="showShare = true">显示分享面板"</div>
    <van-share-sheet
      v-model:show="showShare"
      title="立即分享给好友"
      :options="options"
      @select="onSelect"
    />
  </div>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { Toast } from 'vant';
import useClipboard from 'vue-clipboard3';
export default {
  setup() {
    const router = useRouter();
    const { toClipboard } = useClipboard();
    const showShare = ref(false);
    const options = [
      {
        name: '分享到朋友圈',
        icon: 'wechat',
        text: '复制成功，赶快分享给好友吧',
      },
      { name: '分享给好友', icon: 'weibo', text: '复制成功，赶快分享给好友吧' },
      { name: '复制文本', icon: 'link', text: '复制成功' },
      { name: '生成海报', icon: 'poster', text: '' },
    ];

    //点击分享面板里面的各个按钮
    const onSelect = (option) => {
      //需要判断：跳转页面还是走copy事件
      console.log(option.icon);
      if (option.icon !== 'poster') {
        Toast(option.text);
        copy(option.icon);
        return;
      }
      router.push('/poster'); //跳转到海报页面
      //   showShare.value = false;
    };

    //把内容复制到剪切板里面
    const copy = async (icon) => {
      try {
        //1.复制地址  2.复制文本
        let url = window.location.href;
        if (icon !== 'link') {
          await toClipboard(url);
          return;
        }
        await toClipboard('逸品尚居');
        console.log('Copied to clipboard');
      } catch (e) {
        console.error(e);
      }
    };

    return {
      options,
      onSelect,
      showShare,
      copy,
    };
  },
};
</script>

<style>
</style>