<template>
  <div class="toast" v-if="flag">{{ msg }}</div>
</template>

<script>
import { ref } from 'vue';
export default {
  setup() {
    let flag = ref(false);
    let msg = ref('');
    return {
      flag,
      msg,
    };
  },
};
</script>

<style>
.toast {
  height: 44px;
  width: 80%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 44px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>