<template>
  <div>
    <button @click="change">点击</button>
    <p>2021-10-20</p>
    <input type="text" v-focus.aa="666" />
  </div>
</template>

<script>
import Mytoast from '@/vender/mytoast/mytoast';
import { getCurrentInstance, onMounted } from 'vue';
export default {
  components: {
    Mytoast,
  },
  // directives: {
  //   //局部
  //   focus: {
  //     mounted(el, bindings) {
  //       el.focus();
  //       let {
  //         modifiers: { aa },
  //       } = bindings;
  //       if (aa) {
  //         el.style.border = '1px solid red';
  //       }
  //       console.log(el, 'el');
  //       console.log(bindings, 'bindings');
  //     },
  //   },
  // },
  setup() {
    let { proxy } = getCurrentInstance();
    const change = () => {
      proxy.$mytoast.clear();
    };
    onMounted(() => {
      //app.config.globalProperties.$mytoast()
      // proxy.$mytoast('666666');
      proxy.$mytoast({
        msg: '666',
        duration: 0,
      });
    });
    return {
      change,
    };
  },
  mounted() {
    // this.$router this.$route
    // this.$mytoast(');
  },
};
</script>

<style>
</style>