<!--pages/search/search.wxml-->

<view>
  <my-search searchValue="{{search}}" text="取消" bindmyInput="handleInput"></my-search>
  <view wx:if="{{list.length>0}}">
    <view wx:for="{{list}}" wx:key="id">{{item.title}}</view>
  </view>
  <view wx:else>
    <h3>搜索记录</h3>
    <text bindtap="clearHandle">删除</text>
    <view wx:for="{{searchList}}" wx:key="id">{{item.val}}</view>
  </view>
</view>
