<template>
  <div>
    <h3>{{ count }}</h3>
    <div>{{ result }}</div>
    <button @click="changeCount">改变</button>
    <button @click="change">更改</button>
  </div>
</template>

<script>
import { ref, computed } from "vue";
export default {
  setup() {
    let count = ref(1);
    const changeCount = () => count.value++;
    // let result = computed(() => count.value * 2);
    let result = computed({
      get() {
        return count.value * 2;
      },
      set(newvalue) {
        count.value = newvalue;
        console.log(newvalue, "****");
      },
    });
    const change = () => {
      console.log("result");
      result.value = 10;
    };
    return {
      count,
      result,
      change,
      changeCount,
    };
  },
};
</script>

<style>
</style>