<template>
  <div>
    <div>{{ name }}</div>
    <button @click="changeName">改变name</button>
    <div>{{ age }}</div>
    <button @click="changeAge">改变age</button>
  </div>
</template>

<script>
import { ref, watchEffect } from "vue";
export default {
  setup() {
    let name = ref("小花");
    let age = ref(19);

    const changeName = () => (name.value = "1902A");
    const changeAge = () => {
      age.value++;
      if (age.value > 25) {
        stop(); //停止监听
      }
    };

    //自动收集响应式依赖
    let stop = watchEffect((onInvalidate) => {
      // 19 20 30

      let timer = setTimeout(() => {
        console.log("setTimeout");
      }, 1000);

      //清除副作用
      onInvalidate(() => {
        clearTimeout(timer);
        console.log("onInvalidate");
      });

      console.log("age:watchEffect", age.value);
    });

    return {
      name,
      age,
      changeName,
      changeAge,
    };
  },
};
</script>

<style>
</style>