<template>
  <div>
    <h3>{{ info.name }}----{{ info.age }}</h3>
    <h3>{{ count }}---{{ result }}</h3>
    <button @click="changeName">改变</button>
  </div>
</template>

<script>
import { watch, reactive, ref } from "vue";
import { useCount } from "@/hooks/useCount";
export default {
  setup() {
    let { count, result, changeCount } = useCount();
    let info = reactive({
      name: "小花",
      age: 18,
    });
    let age = ref(19);
    const changeName = () => {
      //   info.name = "1902A";
      age.value++;
    };
    // watch(info, (newvalue, oldvalue) => {
    //   console.log(newvalue, oldvalue);
    // });
    watch(
      [() => ({ ...info }), age],
      ([infonewvalue, agenewvalue], [infooldvalue, ageoldvalue]) => {
        console.log(infonewvalue, agenewvalue, infooldvalue, ageoldvalue);
      }
    );
    // watch 第一个参数 ：ref|reactive|getter|array
    return {
      info,
      count,
      result,
      changeCount,
      changeName,
    };
  },
};
</script>

<style>
</style>