<template>
  <div>
    <h3>{{ count }}</h3>
    <button @click="changeCount">改变</button>
  </div>
</template>

<script>
import { onMounted, onUpdated, onUnmounted, ref } from "vue";
export default {
  setup() {
    //
    let count = ref(1);
    console.log("setup");
    const changeCount = () => count.value++;
    onMounted(() => {
      console.log("onMounted");
    });
    onUpdated(() => {
      console.log("onUpdated");
    });
    onUnmounted(() => {
      console.log("onUnmounted");
    });
    return {
      count,
      changeCount,
    };
  },
};
</script>

<style>
</style>