<template>
  <base-loading :loading="flag">
    <template #main>
      <div>
        <div>{{ home.hotBuild.title }}</div>
        <div @click="goTodetail">去详情</div>
      </div>
    </template>
    <template #grade="obj">
      <div>
        <p>{{ obj }}</p>
        <h3>1902A</h3>
      </div>
    </template>
  </base-loading>
  <!-- <item /> -->
</template>

<script>
import { useRoute, useRouter } from 'vue-router';
import { gethome, gethomeList } from '@/api/api';
import { onMounted, reactive, toRefs } from 'vue';
export default {
  setup() {
    let router = useRouter();
    const state = reactive({
      home: {},
      homelist: {},
      flag: false,
    });
    const goTodetail = () => {
      router.push('/detail?id=1231');
    };
    onMounted(async () => {
      //Promise.allseleted  any
      let [home, homelist] = await Promise.all([
        gethome(),
        gethomeList({
          type: 'ershoufang ',
          setting: 25,
        }),
      ]);
      state.home = home.data;
      state.homelist = homelist.data;
      state.flag = true;
      // state = {
      //   home: home.data,
      // };
      console.log(state, 'res');
    });
    return {
      goTodetail,
      ...toRefs(state),
    };
  },
};
</script>

<style>
</style>