<template>
  <div>
    <div id="container" ref="container"></div>
  </div>
</template>

<script>
import { loadScript, DomlayInit } from '@/utils/loadMap';
import { onMounted, reactive, ref } from 'vue';
import { getLocation, gethouse } from '@/api/api';
export default {
  setup() {
    const container = ref(null);
    let mapOne = ref(null);
    let mapList = ref(null);
    const mapLoaction = reactive({
      lat: 33.961999,
      lng: 118.275001,
    });
    //绘制地图自定义覆盖物
    const DOMOverlay = (list) => {
      console.log(list, '********list');
      //渲染覆盖物之前，清空上一次的覆盖物
      mapList.value && mapList.value.map((item) => item.destroy());
      //创建一个自定义的infoWindow,渲染每一个覆盖物的
      mapList.value = list.map((item) => {
        let doms = new window.myInfoWindow({
          map: mapOne.value,
          id: item.id,
          position: new window.TMap.LatLng(item.lat, item.lng),
          content: `<p>${item.title}</p><p>${item.price}${item.price_unit}</p>`,
        });
        // console.log(doms, 'doms');
        doms.dom.addEventListener('touchend', function () {
          console.log(this.getAttribute('id'));
        });
        return doms;
      });
    };
    //获取房屋信息
    const getHouse = async (location) => {
      let res1 = await gethouse(location); //获取房屋信息的 mapLoaction:当前用户所在的经纬度
      console.log(res1, 'res1&&&&&');
      //绘制地图上的覆盖物的
      DOMOverlay(res1.data.data.list);
    };
    //绘制地图
    const drawMap = () => {
      //定义地图中心点坐标
      var center = new window.TMap.LatLng(mapLoaction.lat, mapLoaction.lng);
      //定义map变量，调用 TMap.Map() 构造函数创建地图
      mapOne.value = new window.TMap.Map(container.value, {
        center: center, //设置地图中心点坐标
        viewMode: '2D', //2D
        zoom: 15, //设置地图缩放级别
        pitch: 43.5, //设置俯仰角
        rotation: 45, //设置地图旋转角度
      });
      //地图拖拽的时候触发
      mapOne.value.on('dragend', function () {
        console.log('dragend');
        //获取拖动之后的中心店
        let center = mapOne.value.getCenter();
        console.log(center, 'center');
        getHouse(center);
      });
      getHouse(mapLoaction);
    };
    //先获取经纬度
    const initMap = async () => {
      let res = await getLocation(); //返回经纬度
      console.log(res, 'res');
      let info = res.data.data.result.location;
      mapLoaction.lat = info.lat;
      mapLoaction.lng = info.lng;
      drawMap(); //绘制地图
    };
    onMounted(async () => {
      let res = await loadScript(); // 动态创建script，把script插入到Body里面。引入地图js
      console.log(111);
      initMap(); //初始化地图
      DomlayInit();
    });
    return {
      container,
    };
  },
};
</script>

<style>
#container {
  /*地图(容器)显示大小*/
  width: 100%;
  height: 400px;
}
</style>