<template>
  <router-view />
</template>
  


<script>
// import Index from "@/views/index.vue";
import { onMounted } from 'vue';
export default {
  name: 'App',
  components: {
    // Index,
  },
  setup() {
    onMounted(() => {
      // let width = document.documentElement.getBoundingClientRect().width;
      // document.documentElement.style.fontSize = width / 10 + "px";
      // document.body.style.fontSize = "0.42rem";
    });
  },
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
}
</style>
