<template>
  <div id="box">
    <div class="main">1902A</div>
    <router-link to="/home">首页</router-link>
    <router-link to="/list">列表</router-link>
    <router-view />
  </div>
</template>

<script>
import { onMounted, getCurrentInstance } from 'vue';
import { getlist } from '@/api/api';
export default {
  created() {
    //  this.$router
  },
  setup() {
    const internalInstance = getCurrentInstance();
    console.log(internalInstance.appContext);
    onMounted(async () => {
      let res = await getlist();
      console.log(res, '*******');
    });
  },
};
</script>

<style>
#box {
  height: 5rem;
  width: 5rem;
  background: red;
}
.main {
  height: 150px;
  width: 150px;
  background: skyblue;
}
</style>