<template>
  <div>
    <canvas id="canvas" ref="container" v-show="false"></canvas>
    <qrcode-vue
      :value="url"
      :size="size"
      level="H"
      id="qrcode"
      v-show="false"
    />
  </div>
  <div class="wapper">
    <img :src="imgsUrl" alt="" />
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import { getposter } from '@/api/api';
import QrcodeVue from 'qrcode.vue';
import { Toast } from 'vant';
export default {
  components: {
    QrcodeVue,
  },
  setup() {
    let container = ref(null);
    let url = ref(null);
    let imgsUrl = ref(null);
    url = window.location.href;
    let size = ref(178);
    const getImage = (imgUrl) =>
      new Promise((resolve, reject) => {
        let img = new Image();
        // img.setAttribute('crossOrigin', 'Anonymous');
        img.src = imgUrl;
        img.onload = function () {
          resolve(img);
        };
        img.onerror = function (err) {
          reject(err);
        };
      });
    const getImageUrl = (imgUrl) =>
      new Promise((resolve, reject) => {
        const xhr = new XMLHttpRequest();
        xhr.open('get', imgUrl);
        xhr.responseType = 'blob'; //二进制 01001
        xhr.onload = function () {
          console.log(xhr.response, '&&&&&&&'); // {size:12312,type:'/imgae.png'}
          let urls = URL.createObjectURL(xhr.response);
          resolve(urls);
        };
        xhr.onerror = function (err) {
          reject(err);
        };
        xhr.send(null);
      });
    const drawCanavas = async (ctx, list) => {
      let {
        title,
        build_type,
        img,
        price_type,
        price,
        price_unit,
        areaname,
        address,
      } = list;
      //绘制标题
      ctx.font = '40px Georgia';
      ctx.fillText(title, 70, 90);

      //绘制标题下方的文字
      ctx.font = '16px Georgia';
      // ctx.strokeRect(70, 118, 16 * build_type[0].length + 10, 25); //x y w h
      // ctx.fillText(build_type[0], 75, 135);

      // // 70 + 74 + 10      16 * 5 + 10
      // ctx.strokeRect(154, 118, 16 * build_type[1].length + 10, 25);
      // ctx.fillText(build_type[1], 159, 135);
      let start = 70;
      build_type.forEach((item) => {
        let width = 16 * item.length + 10;
        ctx.strokeRect(start, 118, width, 25);
        ctx.fillText(item, start + 5, 135);
        start = start + width + 10;
      });

      // 绘制房产
      let houseurl = await getImageUrl('./static/pic.jpeg');
      console.log(houseurl, '87');
      let imgs = await getImage(houseurl);
      ctx.drawImage(imgs, 37, 190, 546, 398);

      //绘制二维码左侧的文字
      ctx.font = '18px Georgia';
      ctx.fillStyle = '#fff';
      ctx.fillText(`${price_type}: ${price}${price_unit}`, 37, 618);
      ctx.fillText(`地址：${areaname}`, 37, 658);
      ctx.fillText(address.slice(0, 12), 37, 698);
      ctx.fillText(address.slice(12), 37, 738);

      //绘制二维码
      let qrurl = qrcode.toDataURL(); //获取二维码的url
      let qrimg = await getImage(qrurl);
      ctx.drawImage(qrimg, 406, 610, 168, 168);

      //获取画布的地址
      let canvasurl = container.value.toDataURL();
      return canvasurl;
    };
    onMounted(async () => {
      Toast({
        message: '海报生成中...',
        forbidClick: true,
        duration: 0,
      });
      //设置画布的宽高
      container.value.width = 620;
      container.value.height = 876;
      let ctx = container.value.getContext('2d'); //获取上下文
      let img = await getImage('./static/postBg.jpg');
      console.log(img, 'img');
      //drawImage：绘制图片
      //绘制底图
      ctx.drawImage(img, 0, 0, 620, 876); //绘制图片

      //获取画板上的数据
      let res = await getposter({ id: 19 });
      console.log(res, 'res');

      // 绘制画板
      imgsUrl.value = await drawCanavas(ctx, res.data.build);
      Toast.clear();
    });
    return {
      container,
      url,
      size,
      imgsUrl,
    };
  },
};
</script>

<style>
.wapper {
  height: 100%;
  width: 100%;
}
.wapper img {
  height: 100%;
  width: 100%;
  display: inline-block;
}
</style>