<template>
  <div>
    <button @click="handleLogin">登录</button>
  </div>
</template>

<script>
import { getCode, getUser } from '@/utils/oauth.js';
import { onMounted } from 'vue';
import { useRouter } from 'vue-router';
export default {
  setup() {
    let router = useRouter();
    const handleLogin = () => {
      getCode();
    };
    onMounted(() => {
      getUser(() => {
        router.push('/');
      });
    });

    return {
      handleLogin,
    };
  },
};
</script>

<style>
</style>