<template>
  <div v-if="loading">
    <slot name="main"></slot>
    <p>
      <slot name="grade" :title="title" sex="女"></slot>
    </p>
  </div>
  <div v-else>
    <van-loading />
  </div>
</template>

<script>
import { ref } from 'vue';
export default {
  props: {
    loading: {
      type: Boolean,
    },
  },
  setup(props, { slots }) {
    let title = ref('home');
    console.log(props, slots);
    return { title };
  },
  created() {
    //   this.$slots
  },
};
</script>

<style>
</style>